<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WHAT IF Creative Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRzm8tg0FuWSVQ5CoalFA4ZdXSJ7aynj0rE8VaQzf" crossorigin="anonymous"></script>
</head>

<body>
    {% include "header.html" %}
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='calculations.js') }}"></script>
    <script src="{{ url_for('static', filename='weather.js') }}"></script>
    <script src="{{ url_for('static', filename='conversion.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
