<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WHAT IF Creative Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRzm8tg0FuWSVQ5CoalFA4ZdXSJ7aynj0rE8VaQzf" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="What If Logo" class="logo">
    </div>
    <div class="container">
        <h1 class="page-title">TOOLS</h1>
        <div class="triple-column">
            <div class="outer-box">
                <h2>Percentage</h2>
                <div class="calculation-row">
                    <div>
                        <label for="percent">What is </label>
                        <input type="number" id="percent" class="aligned-item" min="0" oninput="calculatePercentage()">
                        %
                        <label for="num1">of </label>
                        <input type="number" id="num1" class="aligned-item" min="0" oninput="calculatePercentage()">?
                    </div>
                    <div>
                        <span id="result1" class="result-box">&nbsp;</span>
                    </div>
                </div>

                <div class="calculation-row">
                    <div>
                        <input type="number" id="num2" class="aligned-item" min="0" oninput="calculateWhatPercentageOf()">
                        <label for="num2">is what percentage of</label>
                        <input type="number" id="num3" class="aligned-item" min="0" oninput="calculateWhatPercentageOf()">?
                    </div>
                    <div>
                        <span id="result2" class="result-box">&nbsp;</span>
                    </div>
                </div>

                <div class="calculation-row">
                    <div>
                        <label for="start">What is the increase/decrease<br>from </label>
                        <input type="number" id="start" class="aligned-item" min="0" oninput="calculatePercentageChange()">%
                        <label for="end">to </label>
                        <input type="number" id="end" class="aligned-item" min="0" oninput="calculatePercentageChange()">%?
                    </div>
                    <div>
                        <span id="result3" class="result-box">&nbsp;</span>
                    </div>
                </div>
                <div class="calculation-row">
                    <div>
                        <label for="vatInput">Add/Remove VAT (5%): </label>
                        <input type="number" id="vatInput" class="aligned-item"><br>
                        <button onclick="addVAT()">Add VAT</button>
                        <button onclick="removeVAT()">Remove VAT</button>
                    </div>
                    <div>
                        <span id="resultVAT" class="result-box">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="outer-box">
                <h2>Weather</h2>
                <label for="forecastDate">Date:</label>
                <input type="date" id="forecastDate">
                <button onclick="fetchForecast()">Update</button>
                <div id="forecastResult">
                    <!-- Table to display forecast -->
                    <table>
                        <tbody id="forecastTableBody">
                            <!-- Rows will be inserted here by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="outer-box">
                <h2>Conversion</h2>
                <!-- Length Conversion -->
                <div class="conversion-row">
                    <label for="pixelWidth">PWidth: </label>
                    <input type="number" id="pixelWidth" class="aligned-item" min="1">
                    <label for="pixelHeight">PHeight: </label>
                    <input type="number" id="pixelHeight" class="aligned-item" min="1">
                    <label for="aspectWidth">AWidth: </label>
                    <input type="number" id="aspectWidth" class="aligned-item" min="1">
                    <label for="aspectHeight">AHeight: </label>
                    <input type="number" id="aspectHeight" class="aligned-item" min="1">
                </div>
                <div class="conversion-row">
                    <label for="cmInput">Centimeters</label>
                    <input type="number" id="cmInput" class="aligned-item" min="1" oninput="convertCmToM()">
                    <label for="mInput">Meters</label>
                    <input type="number" id="mInput" class="aligned-item" min="1" oninput="convertMToCm()">
                </div>
                <div class="conversion-row">
                    <label for="inchesInput">Inches</label>
                    <input type="number" id="inchesInput" class="aligned-item" min="1" oninput="convertInchesToCm()">
                    <label for="cmInchesInput">Centimeters</label>
                    <input type="number" id="cmInchesInput" class="aligned-item" min="1" oninput="convertCmToInches()">
                </div>
                <div class="conversion-row">
                    <label for="feetInput">Feet</label>
                    <input type="number" id="feetInput" class="aligned-item" min="1" oninput="convertFeetToMeters()">
                    <label for="metersInput">Meters</label>
                    <input type="number" id="metersInput" class="aligned-item" min="1" oninput="convertMetersToFeet()">
                </div>
                <!-- Weight Conversion -->
                <div class="conversion-row">
                    <label for="ouncesInput">Ounces</label>
                    <input type="number" id="ouncesInput" class="aligned-item" min="1" oninput="convertOuncesToGrams()">
                    <label for="gramsInput">Grams</label>
                    <input type="number" id="gramsInput" class="aligned-item" min="1" oninput="convertGramsToOunces()">
                </div>
                <div class="conversion-row">
                    <label for="poundsInput">Pounds</label>
                    <input type="number" id="poundsInput" class="aligned-item" min="1" oninput="convertPoundsToKg()">
                    <label for="kgInput">Kilograms</label>
                    <input type="number" id="kgInput" class="aligned-item" min="1" oninput="convertKgToPounds()">
                </div>
                <!-- Area Conversion -->
                <div class="conversion-row">
                    <label for="sqmInput">Square Meters</label>
                    <input type="number" id="sqmInput" class="aligned-item" min="1" oninput
                    <label for="sqftInput">Square Feet</label>
                    <input type="number" id="sqftInput" class="aligned-item" min="1" oninput="convertSqftToSqm()">
                </div>
                <!-- Speed Conversion -->
                <div class="conversion-row">
                    <label for="mphInput">Miles/Hour</label>
                    <input type="number" id="mphInput" class="aligned-item" min="1" oninput="convertMphToKph()">
                    <label for="kphInput">Km/Hour</label>
                    <input type="number" id="kphInput" class="aligned-item" min="1" oninput="convertKphToMph()">
                </div>
                <!-- Time Conversion -->
                <div class="conversion-row">
                    <label for="minutesInput">Minutes</label>
                    <input type="number" id="minutesInput" class="aligned-item" min="1" oninput="convertMinutesToSeconds()">
                    <label for="secondsInput">Seconds</label>
                    <input type="number" id="secondsInput" class="aligned-item" min="1" oninput="convertSecondsToMinutes()">
                </div>
                <div class="conversion-row">
                    <label for="hoursInput">Hours</label>
                    <input type="number" id="hoursInput" class="aligned-item" min="1" oninput="convertHoursToMinutes()">
                    <label for="hoursMinutesInput">Minutes</label>
                    <input type="number" id="hoursMinutesInput" class="aligned-item" min="1" oninput="convertMinutesToHours()">
                </div>
                <div class="conversion-row">
                    <label for="daysInput">Days</label>
                    <input type="number" id="daysInput" class="aligned-item" min="1" oninput="convertDaysToHours()">
                    <label for="daysHoursInput">Hours</label>
                    <input type="number" id="daysHoursInput" class="aligned-item" min="1" oninput="convertHoursToDays()">
                </div>
            </div>
        </div>

        <div class="outer-box">
            <h2>Download Video</h2>
            <form id="download-form">
                <label for="url">Video URL:</label>
                <input type="text" id="url" name="url" required>
                <button type="submit">Download</button>
            </form>
            <div id="progress-container">
                <p id="progress-message"></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        let socket = io();

        function resetForm() {
            console.log("Resetting form");
            document.getElementById('download-form').reset();
            document.getElementById('progress-message').innerText = "";
        }

        function initializeSocket() {
            socket = io();

            socket.on('connect', function() {
                console.log('Socket connected');
            });

            socket.on('disconnect', function() {
                console.log('Socket disconnected');
            });

            socket.on('download_progress', function(data) {
                console.log("Download progress event received");
                document.getElementById('progress-message').innerText = "Downloading, wait!";
            });

            socket.on('download_complete', function(data) {
                console.log("Download complete event received, file name:", data.file_name);
                document.getElementById('progress-message').innerText = "Done";
                window.location.href = '/download?file=' + encodeURIComponent(data.file_name);
                resetForm(); // Reset the form after download is complete
            });

            socket.on('error', function(error) {
                console.error("Socket error:", error);
            });
        }

        document.getElementById('download-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;
            console.log("Form submitted with URL:", url);
            document.getElementById('progress-message').innerText = "Download started";
            socket.emit('download_video', { url: url });
        });

        // Initialize socket connection
        initializeSocket();
    </script>
    <script src="{{ url_for('static', filename='conversion.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>
