<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WHAT IF Creative Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <h1>TOOLS</h1>
        <div class="double-column">
            <div class="outer-box">
                <h2>Percentage</h2>
                <div class="calculation-row">
                    <div>
                        <label for="percent">What is </label>
                        <input type="number" id="percent" class="aligned-item" min="0" oninput="calculatePercentage()">
                        %
                        <label for="num1">of </label>
                        <input type="number" id="num1" class="aligned-item" min="0" oninput="calculatePercentage()">?
                    </div>
                    <div>
                        <span id="result1" class="result-box">&nbsp;</span>
                    </div>
                </div>

                <div class="calculation-row">
                    <div>

                        <input type="number" id="num2" class="aligned-item" min="0"
                            oninput="calculateWhatPercentageOf()">
                        <label for="num2">is what percentage of</label>
                        <input type="number" id="num3" class="aligned-item" min="0"
                            oninput="calculateWhatPercentageOf()">?
                    </div>
                    <div>
                        <span id="result2" class="result-box">&nbsp;</span>
                    </div>
                </div>

                <div class="calculation-row">
                    <div>
                        <label for="start">What is the increase/decrease<br>from </label>
                        <input type="number" id="start" class="aligned-item" min="0"
                            oninput="calculatePercentageChange()">%
                        <label for="end">to </label>
                        <input type="number" id="end" class="aligned-item" min="0"
                            oninput="calculatePercentageChange()">%?
                    </div>
                    <div>
                        <span id="result3" class="result-box">&nbsp;</span>
                    </div>
                </div>
                <div class="calculation-row">
                    <div>
                        <label for="vatInput">Add/Remove VAT (5%): </label>
                        <input type="number" id="vatInput" class="aligned-item"><br>
                        <button onclick="addVAT()">Add VAT</button>
                        <button onclick="removeVAT()">Remove VAT</button>
                    </div>
                    <div>
                        <span id="resultVAT" class="result-box">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="outer-box">
                <h2>Weather</h2>
                <label for="forecastDate">Date:</label>
                <input type="date" id="forecastDate">
                <button onclick="fetchForecast()">Update</button>
                <div id="forecastResult">
                    <!-- Table to display forecast -->
                    <table>
                        <tbody id="forecastTableBody">
                            <!-- Rows will be inserted here by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="double-column">
            <div class="outer-box">
                <h2>Conversion</h2>
                <!-- Length Conversion -->
                <div class="conversion-row">
                    <label for="pixelWidth">Width: </label>
                    <input type="number" id="pixelWidth" class="aligned-item" min="1">
                    <label for="pixelHeight">Height: </label>
                    <input type="number" id="pixelHeight" class="aligned-item" min="1">
                    <label for="aspectWidth">Width: </label>
                    <input type="number" id="aspectWidth" class="aligned-item" min="1">
                    <label for="aspectHeight">Height: </label>
                    <input type="number" id="aspectHeight" class="aligned-item" min="1">
                </div>
                <div class="conversion-row">
                    <label for="cmInput">Centimeters</label>
                    <input type="number" id="cmInput" class="aligned-item" min="1" oninput="convertCmToM()">
                    <label for="mInput">Meters</label>
                    <input type="number" id="mInput" class="aligned-item" min="1" oninput="convertMToCm()">
                </div>
                <div class="conversion-row">
                    <label for="inchesInput">Inches</label>
                    <input type="number" id="inchesInput" class="aligned-item" min="1" oninput="convertInchesToCm()">
                    <label for="cmInchesInput">Centimeters</label>
                    <input type="number" id="cmInchesInput" class="aligned-item" min="1" oninput="convertCmToInches()">
                </div>
                <div class="conversion-row">
                    <label for="feetInput">Feet</label>
                    <input type="number" id="feetInput" class="aligned-item" min="1" oninput="convertFeetToMeters()">
                    <label for="metersInput">Meters</label>
                    <input type="number" id="metersInput" class="aligned-item" min="1" oninput="convertMetersToFeet()">
                </div>
                <!-- Weight Conversion -->
                <div class="conversion-row">
                    <label for="ouncesInput">Ounces</label>
                    <input type="number" id="ouncesInput" class="aligned-item" min="1" oninput="convertOuncesToGrams()">
                    <label for="gramsInput">Grams</label>
                    <input type="number" id="gramsInput" class="aligned-item" min="1" oninput="convertGramsToOunces()">
                </div>
                <div class="conversion-row">
                    <label for="poundsInput">Pounds</label>
                    <input type="number" id="poundsInput" class="aligned-item" min="1" oninput="convertPoundsToKg()">
                    <label for="kgInput">Kilograms</label>
                    <input type="number" id="kgInput" class="aligned-item" min="1" oninput="convertKgToPounds()">
                </div>
                <!-- Area Conversion -->
                <div class="conversion-row">
                    <label for="sqmInput">Square Meters</label>
                    <input type="number" id="sqmInput" class="aligned-item" min="1" oninput="convertSqmToSqft()">
                    <label for="sqftInput">Square Feet</label>
                    <input type="number" id="sqftInput" class="aligned-item" min="1" oninput="convertSqftToSqm()">
                </div>
                <!-- Speed Conversion -->
                <div class="conversion-row">
                    <label for="mphInput">Miles/Hour</label>
                    <input type="number" id="mphInput" class="aligned-item" min="1" oninput="convertMphToKph()">
                    <label for="kphInput">Km/Hour</label>
                    <input type="number" id="kphInput" class="aligned-item" min="1" oninput="convertKphToMph()">
                </div>
                <!-- Time Conversion -->
                <div class="conversion-row">
                    <label for="minutesInput">Minutes</label>
                    <input type="number" id="minutesInput" class="aligned-item" min="1"
                        oninput="convertMinutesToSeconds()">
                    <label for="secondsInput">Seconds</label>
                    <input type="number" id="secondsInput" class="aligned-item" min="1"
                        oninput="convertSecondsToMinutes()">
                </div>
                <div class="conversion-row">
                    <label for="hoursInput">Hours</label>
                    <input type="number" id="hoursInput" class="aligned-item" min="1" oninput="convertHoursToMinutes()">
                    <label for="hoursMinutesInput">Minutes</label>
                    <input type="number" id="hoursMinutesInput" class="aligned-item" min="1"
                        oninput="convertMinutesToHours()">
                </div>
                <div class="conversion-row">
                    <label for="daysInput">Days</label>
                    <input type="number" id="daysInput" class="aligned-item" min="1" oninput="convertDaysToHours()">
                    <label for="daysHoursInput">Hours</label>
                    <input type="number" id="daysHoursInput" class="aligned-item" min="1"
                        oninput="convertHoursToDays()">
                </div>
            </div>
            <div class="outer-box">
                <div id="gameContainer">
                    <canvas id="gameCanvas" width="400" height="400"></canvas>
                    <div id="gameControls">
                        <input type="text" id="playerName" placeholder="Your name">
                        <button id="newGameBtn">New Game</button>
                        <div id="points">Points: 0</div>
                        <ul id="highScoresList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='conversion.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='snake.js') }}"></script>
</body>

</html>