<div class="outer-box">
    <h2>Percentage</h2>
    <div class="calculation-row">
        <div>
            <label for="percent">What is </label>
            <input type="number" id="percent" class="aligned-item" min="0" oninput="calculatePercentage()">
            %
            <label for="num1">of </label>
            <input type="number" id="num1" class="aligned-item" min="0" oninput="calculatePercentage()">?
        </div>
        <div>
            <span id="result1" class="result-box">&nbsp;</span>
        </div>
    </div>

    <div class="calculation-row">
        <div>
            <input type="number" id="num2" class="aligned-item" min="0" oninput="calculateWhatPercentageOf()">
            <label for="num2">is what percentage of</label>
            <input type="number" id="num3" class="aligned-item" min="0" oninput="calculateWhatPercentageOf()">?
        </div>
        <div>
            <span id="result2" class="result-box">&nbsp;</span>
        </div>
    </div>

    <div class="calculation-row">
        <div>
            <label for="start">What is the increase/decrease<br>from </label>
            <input type="number" id="start" class="aligned-item" min="0" oninput="calculatePercentageChange()">%
            <label for="end">to </label>
            <input type="number" id="end" class="aligned-item" min="0" oninput="calculatePercentageChange()">%?
        </div>
        <div>
            <span id="result3" class="result-box">&nbsp;</span>
        </div>
    </div>
    <div class="calculation-row">
        <div>
            <label for="vatInput">Add/Remove VAT (5%): </label>
            <input type="number" id="vatInput" class="aligned-item"><br>
            <button onclick="addVAT()">Add VAT</button>
            <button onclick="removeVAT()">Remove VAT</button>
        </div>
        <div>
            <span id="resultVAT" class="result-box">&nbsp;</span>
        </div>
    </div>
</div>
